*{
    margin: 0px;
}

body{
    background-color: beige;
}

#cabecalho{
    background-color: darkred;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
}

#header{
    width: 100vw;
    height: 30vh;
    background-color: rgb(210, 210, 185);
    display: flex;
    justify-content: center;
}

#header img{
    width: 40%;
    height: 100%;
    max-width: 400px;
}

#conteudo{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
    width: 100vw;
    justify-content: space-around;
}

#texto{
    width: 40%;
    max-width: 400px;
}

#texto h1{
    font-size: 40px;
    margin-bottom: 30px;
}

#texto p{
    font-size: 20px;
    padding: 10px;
}



#imagens{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: beige;
}

.dentro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkred;
    margin: 15px;
    color: beige;
}

.seis{
    margin: 5px;
    width: 150px;
    height: 150px;
}

#rodape{
    padding: 30px;
    background-color: darkred;
}